@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-orelega-one: 'Orelega One', cursive;
}

body {
  font-family: var(--font-poppins);
}

.font-orelega {
  font-family: var(--font-orelega-one);
}
